.header-wrapper {
    height: 96px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    gap: 40px;
    margin: 20px 50px;
}

@media (max-width: 1024px) {
    .header-wrapper {
      margin: 10px 30px;
      gap: 15px;
    }
  }

@media (max-width: 768px) {
    .header-wrapper {
        margin: 8px 14px;
        gap: 15px;
    }
}

@media (max-width: 580px) {
    .main-screen-wrapper {
        margin: 4px 10px;
        gap: 10px;
    }
}