input[type="file"] {
    display: none;
}

.upload-button {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: max-content;
    height: 36px;
    font-size: 14px;
    border-radius: 18px;
    color: #FFFFFF;
    background-color: rgba(51, 55, 59, 0.7);
    padding: 0 20px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    &:hover {
      background-color: rgba(51, 55, 59, 0.9);
    }
  }

  @media (max-width: 1024px) {
    .upload-button {
      line-height: 26px;
      height: 30px;
      font-size: 12px;
      border-radius: 20px;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 768px) {
    .upload-button {
      line-height: 20px;
      height: 30px;
      width: max-content;
      border-radius: 20px;
      padding: 10px;
      margin: 0;
      line-height: 0;
      gap: 0;
      justify-content: none;
      align-items: none;
      
      span {
        font-size: 0;
      }
    }    
  }
  
  @media (max-width: 580px) {
    .upload-button {

    }
  }