.music-card {
  width: 100%;
  min-height: 56px;
  border-radius: 66px;
  background-color: rgba(51, 55, 59, 0.45);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(51, 55, 59, 0.75);
  }

  span {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  p {
    width: 14%;
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
  }

  &.selected {
    background-color: rgba(250, 205, 102, 0.45);

    &:hover {
      background-color: rgba(250, 205, 102, 0.75);
    }
  }
}


.search-card {
  width: 100%;
  min-height: 35px;
  border-radius: 50px;
  background-color: rgba(51, 55, 59, 0.45);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(51, 55, 59, 0.75);
  }

  p {
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #FFFFFF;
  }

  span {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    p {
      width: 160px;
    }

  }

  &.selected {
    background-color: rgba(250, 205, 102, 0.45);

    &:hover {
      background-color: rgba(250, 205, 102, 0.75);
    }
  }

}

.search-card-img {
  height: 28px;
  width: 28px;
  border-radius: 5px;
  overflow: hidden;
}

.music-card-img {
  height: 39px;
  width: 39px;
  border-radius: 8.53px;
  overflow: hidden;
}

.music-playing-overview-container {
  min-height: max-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.overview-title {
font-size: 35px;
font-weight: bold;
color: #A4C7C6;
margin-bottom: 2px;
}

.music-playing-overview-img {
  height: 260px;
  width: 250px;
  border-radius: 40px;
}

.music-playing-overview-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;

  p {
     margin-left: 5px;
     color: #A4C7C6;
     font-size: 16px;
  }
}


@media (max-width: 1024px) {
  .music-card {
    min-height: 50px;

    span {
      gap: 20px;
    }

    p {
      width: 16%;
      font-size: 13px;
    }
  }

  .music-card-img {
    height: 35px;
    width: 35px;
  }

  .music-playing-overview-img {
    height: 200px;
    width: 190px;
  }

  .music-playing-overview-desc {
    gap: 6px;

    p {
      margin-left: 4px;
      font-size: 14px;
    }
  }

  .overview-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {

  .music-card {
    border-radius: 10px;
    position: relative;
    justify-content: none;
    gap: 10px;

    p {
      font-size: 12px;
    }

    span {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }

  .music-card-img {
    height: 33px;
    width: 33px;
  }

  .music-playing-overview-img {
    height: 190px;
    width: 180px;
  }

  .music-playing-overview-desc {
    gap: 6px;

    p {
      margin-left: 1px;
      font-size: 12px;
    }
  }

  .overview-title {
    font-size: 16px;
  }
}

@media (max-width: 580px) {

  .music-card {
    p {
      width: 35%;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
    }

    >p:nth-child(2) {
      position: absolute;
      left: 70px;
      top: 12px;
      font-weight: bold;
    }

    >p:nth-child(3) {
      position: absolute;
      left: 70px;
      top: 28px;
    }

    >p:nth-child(4) {
      position: absolute;
      right: 12px;
      bottom: 6px;
      width: fit-content;
    }

    >p:nth-child(5) {
      position: absolute;
      right: 90px;
      top: 6px;
      width: fit-content;
    }
  }

  .music-card-fav-icon {
    position: absolute;
    right: 50px;
    top: 2px;
  }

  .music-card-delete-icon {
    position: absolute;
    right: 10px;
    top: 3px;
  }

  .search-card {
    min-height: 30px;
    border-radius: 50px;

    p {
      font-size: 10px;
    }

    span {
      gap: 10px;

      p {
        width: 140px;
      }

    }

  }

  .search-card-img {
    height: 22px;
    width: 22px;
    border-radius: 2px;
    overflow: hidden;
  }


  .music-playing-overview-background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: fadeIn 0.5ss ease-in-out;
  }

  .music-playing-overview-container {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: fadeIn 0.5ss ease-in-out;
  }

  .music-playing-overview-img {
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 230px;
    width: 220px;
    border-radius: 40px;
  }

  .music-playing-overview-desc {
    position: absolute;
    z-index: 1;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 180px;
  }
}

@media (max-width: 425px) {

  .music-card {

    p {
      font-size: 10px;
    }

    >p:nth-child(2) {
      position: absolute;
      left: 60px;
      top: 12px;
    }

    >p:nth-child(3) {
      left: 60px;
      top: 28px;
    }

    >p:nth-child(5) {
      font-size: 11px;
      top: 10px;
    }
  }

  .music-card-fav-icon {
    top: 5px;
  }

  .music-card-delete-icon {
    top: 7px;
  }
}